/* you can add to or change this. */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-image: url(./images/pokemon-bg.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 30px;
  justify-content: center;
  align-items: baseline;
  color: #292383;
  /* -webkit-text-stroke: 1px #292383; */
  /* text-shadow: 2px 2px 5px #272727; */
  font-family: "Press Start 2P", cursive;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  /* margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%; */
}

.nav-elements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-elements li {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 24px;
}

.button {
  margin: 0px 20px;
  width: 100px;
  padding: 4px 15px;
  border-radius: 4px;
  border: none;
  background-color: #fdd333;
  color: #000000;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  box-shadow: 2px 2px 5px #272727;
}
.button:hover {
  margin: 0px 20px;
  width: 100px;
  padding: 4px 15px;
  border-radius: 4px;
  border: none;
  background-color: #fda933;
  color: #000000;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  box-shadow: 2px 2px 5px #272727;
}

#game {
  /* border: 1px solid black; */
  width: 80vw;
  height: 80vh;
  /* margin: 20px; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}

#card {
  border-radius: 15px;
  width: 175px;
  height: 245px;
  /* background-image: url(./qm.jpeg);
  background-size: cover;
  background-position: center; */
  box-shadow: 5px 5px 10px #414141;
}

.faceDown {
  background-image: url(./images/pokemon.jpg);
  background-size: cover;
  background-position: center;
}

.pika {
  width: auto;
  height: 80px;
  align-items: center;
}
